@tailwind base;
@tailwind components;
@tailwind utilities;

:root, .theme-day, .theme-auto.prefers-light {
    --color-base: #ffffff;
    --color-100:  #f5f5f7;
    --color-200:  #e9e9eb;
    --color-300:  #bdbfc3;
    --color-400:  #91959b;
    --color-500:  #707680;
    --color-600:  #39404b;
    --color-700:  #0d1623;

    --border-color: var(--color-200);
}

.theme-sunset {
    --color-base: #f5f2eb;
    --color-100:  #ebe8e2;
    --color-200:  #dfdcd6;
    --color-300:  #b8b6b0;
    --color-400:  #8e8c88;
    --color-500:  #6e6d69;
    --color-600:  #3b3a38;
    --color-700:  #191818;

    --border-color: var(--color-200);
}

.theme-dusk, .theme-auto.prefers-dark {
    --color-base: #262626;
    --color-100:  #2d2d2d;
    --color-200:  #353535;
    --color-300:  #4d4d4d;
    --color-400:  #707070;
    --color-500:  #8c8c8c;
    --color-600:  #d4d4d4;
    --color-700:  #f6f6f6;

    --border-color: #000000;
}

.theme-midnight {
    --color-base: #000000;
    --color-100:  #141414;
    --color-200:  #242424;
    --color-300:  #3b3b3b;
    --color-400:  #595959;
    --color-500:  #757575;
    --color-600:  #bababa;
    --color-700:  #f5f5f5;

    --border-color: var(--color-200);
}

:root, .theme-day, .theme-sunset, .theme-auto.prefers-light {
  --color-light-100:  var(--color-100);
  --color-sidebar:    var(--color-100);
  --color-shadow-100: rgba(0,0,0,0.1);
  --color-link:       var(--color-blue-600);


  --color-blue-400: #619eec;
  --color-blue-600: #0867e2;
  --color-blue-700: #0755B9;

  --color-green-600: #07AC47;
  --color-green-700: #068D3B;

  --color-red-200: #F8E7EA;
  --color-red-600: #BB0B2F;

  --color-orange-600: #E96A0E;
}

.theme-dusk, .theme-midnight, .theme-auto.prefers-dark {
  --color-light-100:  var(--color-600);
  --color-sidebar:    var(--color-base);
  --color-shadow-100: rgba(0,0,0,0.5);
  --color-link:       #ffffff;

  --color-blue-600:  #0974FF;
  --color-green-600: #08C451;
  --color-red-600:   #D40C35;
}

/*
this needs to be copied from both prefers-dark to prevent
a flash of the default theme before prefers-dark class is applied
*/
@media (prefers-color-scheme: dark) {
  .theme-auto {
    --color-base: #262626;
    --color-100:  #2d2d2d;
    --color-200:  #353535;
    --color-300:  #4d4d4d;
    --color-400:  #707070;
    --color-500:  #8c8c8c;
    --color-600:  #d4d4d4;
    --color-700:  #f6f6f6;

    --border-color: #000000;

    --color-light-100:  var(--color-600);
    --color-sidebar:    var(--color-base);
    --color-shadow-100: rgba(0,0,0,0.5);
    --color-link:       #ffffff;

    --color-blue-600:  #0974FF;
    --color-green-600: #08C451;
    --color-red-600:   #D40C35;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
  }
  ul, li, h6, p {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  textarea,
  select,
  textarea:focus,
  select:focus,
  .text-input:focus,
  .button:focus,
  .button-secondary:focus,
  .button-tertiary:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
}

@layer utilities {
  .border-shim {
    border: 0px solid black;
  }
  .tw-hidden {
    display: none;
  }
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .input-shadow {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 transparent;
  }
}